<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your music search result list</h1>

    <div>
        {{#each data.body.artists.items}}
        <img src="{{}}" alt="album cover">

        {{name}}

        <a href="/albums/{{}}"><button>View Albums</button></a>

    </div>
    
</body>
</html>